Repository redwoodjs/redwoodjs.com, pull requests merged in 2020-07, with the labels that each got.

#225 Add GoTrue Recipe
  cookbook/GoTrue_Auth.md
  lib/build.js
Labels: cookbook

#234 Apply code formatting to ref. to master
  TUTORIAL.md
Labels: documentation

#230 Reorganize Videos section + proposal
  .gitignore
  code/html/_nav.html
  code/html/videos.html
  code/html/videos/.keep
  lib/build.js
  videos/authentication.md
  videos/router.md
  videos/tutorial.md
Labels: enhancement, spike, video

#242 Update Forms doc with type coercion
  docs/form.md
Labels: documentation
