Repository redwoodjs/redwoodjs.com, pull requests merged in 2020-09, with the labels that each got.

#332 Updates auth docs for new hasRole support for multiple roles
  docs/authentication.md
Labels: documentation

#333 Cookbook for RBAC
  cookbook/Role-based_Access_Control.md
  docs/authentication.md
  lib/build.js
Labels: cookbook

#361 Add db import for services section
  code/html/index.html
Labels: documentation, good first issue

#344 update tutorial 'Saving Data' section to use Flash
  TUTORIAL.md
Labels: tutorial
